// @include font-face(font-name);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

html {
	font-size: 13px;
	line-height: calc(1em + 6px);
}

body {
	font-family: $font-main;
}

p {
	color: $font;
	margin: 0 0 20px;
}

h1,
.h1 {
	color: $white;
	font: 600 50px / calc(1em + 6px) $font-main;
	margin-bottom: 0;
}

h2,
.h2 {
	color: $main;
	font: 400 px/calc(1em + 6px) $font-main;
	margin-bottom: 0;
}

h3,
.h3 {
	color: $main;
	font: 400 35px / calc(1em + 6px) $font-main;
	margin-bottom: 0;
}

h4,
.h4 {
	color: $white;
	font: 400 20px / calc(1em + 6px) $font-main;
	margin-bottom: 0;
}

h5,
.h5 {
	color: $main;
	font: 400 24px / calc(1em + 6px) $font-main;
	margin-bottom: 0;
}

h6,
.h6 {
	color: $main;
	font: 400 18x / calc(1em + 6px) $font-main;
	margin-bottom: 0;
}

a {
	#{$base-link} {
		color: $main;
		text-decoration: none;
	}

	#{$hover-link} {
		color: $black;
	}
}
